<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <link rel="stylesheet" type="text/css" href="https://myhometheme.net/agent/wp-content/cache/minify/84ed0.css"
          media="all" />
    <script type="357ac28a54e0bf48f0aeb0df-text/javascript">
        /*<![CDATA[*/
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N7G6X7H'); /*]]>*/
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="pingback" href="https://myhometheme.net/agent/xmlrpc.php">
    <title>Homepage - Fullscreen Video - MyHome</title>
    <link rel="canonical" href="https://myhometheme.net/agent/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Homepage - Fullscreen Video - MyHome" />
    <meta property="og:url" content="https://myhometheme.net/agent/" />
    <meta property="og:site_name" content="MyHome" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Homepage - Fullscreen Video - MyHome" />
    @*<script type='application/ld+json'>
        {
        "@context": "https:\/\/schema.org",
        "@type": "WebSite",
        "@id": "#website",
        "url": "https:\/\/myhometheme.net\/agent\/",
        "name": "MyHome",
        "potentialAction": {
        "@type": "SearchAction",
        "target": "https:\/\/myhometheme.net\/agent\/?s={search_term_string}",
        "query-input": "required name=search_term_string"
        }
        }
    </script>*@
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel="alternate" type="application/rss+xml" title="MyHome &raquo; Feed"
          href="https://myhometheme.net/agent/feed/" />
    <link rel="alternate" type="application/rss+xml" title="MyHome &raquo; Comments Feed"
          href="https://myhometheme.net/agent/comments/feed/" />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible
        }
    </style>
    <style id='myhome-style-inline-css' type='text/css'>
    @*/*<![CDATA[*/
    @media (min-width:1023px) {
        #mega_main_menu li.default_dropdown>.mega_dropdown {
            width: 225px !important
        }
    }*@

    .mh-active-input-primary input[type=text]:focus,
    .mh-active-input-primary input[type=text]:active,
    .mh-active-input-primary input[type=search]:focus,
    .mh-active-input-primary input[type=search]:active,
    .mh-active-input-primary input[type=email]:focus,
    .mh-active-input-primary input[type=email]:active,
    .mh-active-input-primary input[type=password]:focus,
    .mh-active-input-primary input[type=password]:active,
    .mh-active-input-primary textarea:focus,
    .mh-active-input-primary textarea:active,
    .mh-active-input-primary .mh-active-input input,
    .mh-active-input-primary .mh-active-input input,
    .myhome-body.mh-active-input-primary .mh-active-input .bootstrap-select.btn-group>.btn {
        background: rgba(44, 62, 80, 0.05) !important
    }

    html body .primary {
        background: rgba(44, 62, 80) !important
    }

    html body .mh-fixed-menu--active #mega_main_menu.mh-primary #mh-submit-button a,
    html body .mh-fixed-menu--active #mega_main_menu.mh-primary #mh-submit-button a i {
        color: rgba(44, 62, 80) !important
    }

    .mh-app-wrapper .stepper__header .stepper__step--complete+.divider {
        background: rgba(44, 62, 80) !important
    }

    html body .primary--text {
        color: rgba(44, 62, 80) !important
    }

    html body .primary--text textarea,
    html body .primary--text input {
        caret-color: rgba(44, 62, 80) !important
    }

    @*@media (min-width:1023px) {
        html body #mega_main_menu.mh-primary .nav_logo img {
            height: 40px !important
        }
    }

    @media (min-width:1023px) {
        .mh-sticky-menu-placeholder--active {
            min-height: 80px
        }
    }

    @media (min-width: 1023px) {
        .logo_link {
            margin-right: 48px !important
        }
    }

    @media (min-width: 1023px) {
        html body #mega_main_menu.mh-primary>.menu_holder>.menu_inner>ul>li[class*="columns"] {
            margin-right: 10px !important
        }
    }

    /*]]>*/*@
    </style>
    <link rel='stylesheet' id='redux-google-fonts-myhome_redux-css'
          href='https://fonts.googleapis.com/css?family=Lato%3A400%2C400italic%2C700%7CPlay%3A400%2C700&#038;subset=latin-ext&#038;ver=1574733282'
          type='text/css' media='all' />
    <script type="357ac28a54e0bf48f0aeb0df-text/javascript"
            src="https://myhometheme.net/agent/wp-content/cache/minify/99826.js"></script>
    <script type="357ac28a54e0bf48f0aeb0df-text/javascript" id='wc-add-to-cart-js-extra'>
        var wc_add_to_cart_params = {
            "ajax_url": "\/agent\/wp-admin\/admin-ajax.php",
            "wc_ajax_url": "\/agent\/?wc-ajax=%%endpoint%%",
            "i18n_view_cart": "View cart",
            "cart_url": "https:\/\/myhometheme.net\/agent\/cart\/",
            "is_cart": "",
            "cart_redirect_after_add": "yes"
        };
    </script>
    <script type="357ac28a54e0bf48f0aeb0df-text/javascript"
            src="https://myhometheme.net/agent/wp-content/cache/minify/d9e93.js"></script>
    <script type="357ac28a54e0bf48f0aeb0df-text/javascript" src='https://www.google.com/recaptcha/api.js?ver=1'
            id='recaptcha-js'></script>
    <link rel="https://api.w.org/" href="https://myhometheme.net/agent/wp-json/" />
    <link rel="alternate" type="application/json" href="https://myhometheme.net/agent/wp-json/wp/v2/pages/1866" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://myhometheme.net/agent/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://myhometheme.net/agent/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.5.3" />
    <meta name="generator" content="WooCommerce 3.4.5" />
    <link rel='shortlink' href='https://myhometheme.net/agent/' />
    <link rel="alternate" type="application/json+oembed"
          href="https://myhometheme.net/agent/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmyhometheme.net%2Fagent%2F" />
    <link rel="alternate" type="text/xml+oembed"
          href="https://myhometheme.net/agent/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fmyhometheme.net%2Fagent%2F&#038;format=xml" />
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important
            }
        </style>
    </noscript>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important
        }
    </style>
    <script type="357ac28a54e0bf48f0aeb0df-text/javascript">
        var essb_settings = {
            "ajax_url": "https:\/\/myhometheme.net\/agent\/wp-admin\/admin-ajax.php",
            "essb3_nonce": "03966323ac",
            "essb3_plugin_url": "https:\/\/myhometheme.net\/agent\/wp-content\/plugins\/easy-social-share-buttons3",
            "essb3_stats": false,
            "essb3_ga": false,
            "essb3_ga_mode": "simple",
            "blog_url": "https:\/\/myhometheme.net\/agent\/",
            "essb3_postfloat_stay": false,
            "post_id": 1866
        };
    </script>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <!--[if lte IE 9]><link
    rel="stylesheet" type="text/css" href="https://myhometheme.net/agent/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]-->
    <meta name="generator"
          content="Powered by Slider Revolution 5.4.8 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="357ac28a54e0bf48f0aeb0df-text/javascript">
        /*<![CDATA[*/
        function setREVStartSize(e) {
            try {
                e.c = jQuery(e.c);
                var i = jQuery(window).width(),
                    t = 9999,
                    r = 0,
                    n = 0,
                    l = 0,
                    f = 0,
                    s = 0,
                    h = 0;
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function(e, f) {
                        f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e)
                    }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e
                    .gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e
                    .sliderLayout) {
                    var u = (e.c.width(), jQuery(window).height());
                    if (void 0 != e.fullScreenOffsetContainer) {
                        var c = e.fullScreenOffsetContainer.split(",");
                        if (c) jQuery.each(c, function(e, i) {
                                u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u
                            }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e
                            .fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) /
                            100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e
                                .fullScreenOffset, 0))
                    }
                    f = u
                } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight);
                e.c.closest(".rev_slider_wrapper").css({
                    height: f
                })
            } catch (d) {
                console.log("Failure at Presize of Slider:" + d)
            }
        }; /*]]>*/
    </script>
    <style type="text/css" title="dynamic-css" class="options-output">
        /*<![CDATA[*/

        html body.myhome-body .mh-menu-primary-color-background .mh-header:not(.mh-header--transparent) #mega_main_menu.mh-primary > .menu_holder > .menu_inner > span.nav_logo,
        html body.myhome-body .mh-menu-primary-color-background .mh-header:not(.mh-header--transparent) #mega_main_menu.mh-primary > .menu_holder > .mmm_fullwidth_container,
        .myhome-body .mh-thumbnail__featured,
        .myhome-body .calendar_wrap table tbody td a:hover,
        .myhome-body .dropdown-menu > li.selected a,
        .myhome-body .mdl-button.mdl-button--raised.mdl-button--primary,
        .myhome-body .mdl-button.mdl-button--primary-ghost:hover,
        .myhome-body .mdl-button.mdl-button--primary-ghost:active,
        .myhome-body .mdl-button.mdl-button--primary-ghost:focus,
        .myhome-body .mdl-button.mdl-button--compare-active,
        .myhome-body .mdl-button.mdl-button--compare-active:hover,
        .myhome-body .mdl-button.mdl-button--compare-active:active,
        .myhome-body .mdl-button.mdl-button--compare-active:focus,
        .myhome-body .mh-accordion .ui-accordion-header.ui-accordion-header-active,
        .myhome-body .mh-caption__inner,
        .myhome-body .mh-compare__price,
        .myhome-body .mh-estate__slider__price,
        .myhome-body .mh-estate__details__price,
        .myhome-body .mh-heading--top-separator:after,
        .myhome-body .mh-heading--bottom-separator:after,
        .myhome-body .mh-loader,
        .myhome-body .wpcf7-form .wpcf7-form-control.wpcf7-submit,
        .myhome-body .mh-loader:before,
        .myhome-body .mh-loader:after,
        .myhome-body .mh-map-panel__element button:hover,
        .myhome-body .mh-map-panel .mh-map-panel__element button.mh-button--active,
        .myhome-body .mh-map-panel .mh-map-panel__element button.mh-button--active:hover,
        .myhome-body .mh-map-panel .mh-map-panel__element button.mh-button--active:active,
        .myhome-body .mh-map-panel .mh-map-panel__element button.mh-button--active:focus,
        .myhome-body .mh-map-zoom__element button:hover,
        .myhome-body .mh-map-infobox,
        .myhome-body .mh-post-single__nav__prev:before,
        .myhome-body .mh-post-single__nav__next:before,
        .myhome-body .mh-slider__card-short__price,
        .myhome-body .mh-slider__card-default__price,
        .myhome-body #estate_slider_card .tparrows:hover:before,
        .myhome-body #estate_slider_card_short .tparrows:hover:before,
        .myhome-body #mh_rev_slider_single .tparrows:hover:before,
        .myhome-body #mh_rev_gallery_single .tparrows:hover:before,
        .myhome-body .mh-social-icon:hover,
        .myhome-body .mh-top-header--primary,
        .myhome-body .mh-top-header-big:not(.mh-top-header-big--primary) .mh-top-header-big__panel,
        .myhome-body .mh-top-header-big.mh-top-header-big--primary,
        .myhome-body .mh-browse-estate__row:first-child,
        .myhome-body .mh-widget-title__text:before,
        .myhome-body .owl-carousel .owl-dots .owl-dot.active span,
        .myhome-body .tagcloud a:hover,
        .myhome-body .tagcloud a:active,
        .myhome-body .tagcloud a:focus,
        .myhome-body .mh-menu ul li a:before,
        .myhome-body .widget_pages ul li a:before,
        .myhome-body .widget_meta ul li a:before,
        .myhome-body .widget_recent_entries ul li a:before,
        .myhome-body .widget_nav_menu ul li a:before,
        .myhome-body .widget_categories ul li a:before,
        .myhome-body .widget_archive ul li a:before,
        .myhome-body .calendar_wrap table #today,
        .myhome-body .mh-background-color-primary,
        .myhome-body .mh-user-panel__menu ul li.mh-user-panel__menu__li--active button,
        .myhome-body .mh-user-panel__menu ul li.mh-user-panel__menu__li--active a,
        .myhome-body .mh-top-header--primary .mh-top-bar-user-panel__user-info,
        .myhome-body .mh-top-header-big .mh-top-bar-user-panel__user-info,
        .myhome-body .awesomplete mark,
        .myhome-body .idx-omnibar-form.idx-omnibar-original-form button,
        .myhome-body .idx-omnibar-form.idx-omnibar-original-form .awesomplete > ul > li mark,
        .myhome-body #IDX-main #IDX-resultsRow .IDX-resultsDetailsLink a:hover,
        .myhome-body #IDX-main #IDX-formSubmit,
        .myhome-body #IDX-main #IDX-submitBtn,
        .myhome-body #IDX-main #IDX-scheduleShowing,
        .myhome-body #IDX-main #IDX-photoGalleryLink,
        .myhome-body #IDX-main .IDX-detailsVirtualTourLink,
        .myhome-body #IDX-main #IDX-detailsVirtualTour,
        .myhome-body .IDX-qsInput.IDX-qsButtonInput,
        .myhome-body #IDX-main.IDX-category-map #IDX-criteriaText,
        .myhome-body .mh-fixed-menu--active .mh-menu-primary-color-background .mega_main_menu,
        .myhome-body.mh-active-input-primary .mh-search__panel > div:not(:first-child) .is-checked .mdl-radio__inner-circle,
        .myhome-body #myhome-idx-wrapper #IDX-leadToolsBar,
        .myhome-body #myhome-idx-wrapper #IDX-submitBtn,
        .myhome-body #myhome-idx-wrapper #IDX-formSubmit,
        .myhome-body #myhome-idx-wrapper #IDX-submitBtn:hover,
        .myhome-body #myhome-idx-wrapper #IDX-formSubmit:hover,
        .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 .IDX-detailsVirtualTourLink,
        .myhome-body #myhome-idx-wrapper .IDX-page-listing .IDX-detailsVirtualTourLink,
        .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 .IDX-detailsVirtualTourLink:hover,
        .myhome-body #myhome-idx-wrapper .IDX-page-listing .IDX-detailsVirtualTourLink:hover,
        .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-main.IDX-category-details #IDX-photoGalleryLink,
        .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-main.IDX-category-details #IDX-scheduleShowing,
        .myhome-body #myhome-idx-wrapper .IDX-page-listing #IDX-photoGalleryLink,
        .myhome-body #myhome-idx-wrapper .IDX-page-listing #IDX-scheduleShowing,
        .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-main.IDX-category-details #IDX-photoGalleryLink:hover,
        .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-main.IDX-category-details #IDX-scheduleShowing:hover,
        .myhome-body #myhome-idx-wrapper .IDX-page-listing #IDX-photoGalleryLink:hover,
        .myhome-body #myhome-idx-wrapper .IDX-page-listing #IDX-scheduleShowing:hover,
        .myhome-body .myhome-idx-wrapper__mortgage_calculator-mobileFirstMortgage-1002 .IDX-input-group-addon,
        .myhome-body .myhome-idx-wrapper__map_search_page-mapsearch-1000 #IDX-criteriaText,
        .myhome-body .myhome-idx-wrapper__map_search_page-mapsearch-1000 #IDX-criteriaWindow .ui-widget-content .ui-slider-range,
        .myhome-body .myhome-idx-wrapper__map_search_page-mapsearch-1000 #IDX-criteriaWindow .ui-widget-content,
        .myhome-body .idx-omnibar-form button,
        .myhome-body .myhome-idx-wrapper__results-mobileFirstResults-1006 .IDX-resultsDetailsLink a:hover,
        .myhome-body .IDX-type-roster #IDX-rosterFilterSubmit,
        .myhome-body .IDX-type-roster #IDX-rosterFilterSubmit:hover,
        .myhome-body .myhome-idx-wrapper__search_page-searchBase-1005 #IDX-loginSubmit,
        .myhome-body #myhome-idx-wrapper .IDX-category-search #IDX-loginSubmit,
        .myhome-body .myhome-idx-wrapper__search_page-searchBase-1005 #IDX-loginSubmit:hover,
        .myhome-body #myhome-idx-wrapper .IDX-category-search #IDX-loginSubmit:hover,
        .myhome-body .myhome-idx-wrapper__my_account-myaccount-1000 input[type=submit],
        .myhome-body .myhome-idx-wrapper__my_account-myaccount-1000 input[type=submit]:hover,
        .myhome-body .myhome-idx-wrapper__user_signup-usersignup-1002 #IDX-submitBtn,
        .myhome-body .myhome-idx-wrapper__user_signup-usersignup-1002 #IDX-submitBtn:hover,
        .myhome-body .myhome-idx-wrapper__user_login-userlogin-1001 #IDX-loginSubmit,
        .myhome-body .myhome-idx-wrapper__user_login-userlogin-1001 #IDX-loginSubmit:hover,
        .myhome-body #IDX-widgetLeadLoginWrapper.IDX-widgetLeadLoginWrapper input[type=submit],
        .myhome-body #IDX-widgetLeadLoginWrapper.IDX-widgetLeadLoginWrapper input[type=submit]:hover,
        .myhome-body #LeadSignup.LeadSignup input[type=submit],
        .myhome-body #LeadSignup.LeadSignup input[type=submit]:hover,
        .myhome-body .IDX-quicksearchWrapper .IDX-quicksearchForm .IDX-qsInput.IDX-qsButtonInput,
        .myhome-body #myhome-idx-wrapper.myhome-idx-wrapper__mortgage_calculator-mobileFirstMortgage-1002 .IDX-input-group-addon,
        .myhome-body #myhome-idx-wrapper.myhome-idx-wrapper__mortgage_calculator-mobileFirstMortgage-1002 .IDX-btn-primary,
        .myhome-body #myhome-idx-wrapper.myhome-idx-wrapper__mortgage_calculator-mobileFirstMortgage-1002 .IDX-btn-primary:hover,
        html body.myhome-body .ui-dialog[aria-labelledby*=IDX-loadingScreen] #IDX-loadingScreen,
        html body.myhome-body .ui-dialog[aria-labelledby*=IDX-loadingScreen] #IDX-loadingScreen:before,
        html body.myhome-body .ui-dialog[aria-labelledby*=IDX-loadingScreen] #IDX-loadingScreen:after,
        .IDX-registrationModal #IDX-registration .IDX-btn-primary,
        .IDX-registrationModal #IDX-registration .IDX-btn-primary:hover,
        .myhome-body .myhome-idx-wrapper__photo_gallery-mobileFirstPhotoGallery-1003 #IDX-photoGallery .IDX-arrow:hover,
        .myhome-body div[id*=IDX-carouselGallery-] + a:hover,
        .myhome-idx-wrapper__results-mobileFirstResults-1006 #IDX-resultsRefineSubmit,
        .myhome-idx-wrapper__results-mobileFirstResults-1006 #IDX-resultsRefineSubmit:hover,
        .myhome-body .mh-app-wrapper .primary,
        .myhome-body div.awesomplete mark,
        .myhome-body .mh-popup-login .mh-popup-login__tab-button.active,
        .myhome-body .mh-app__sidebar-nav__avatar-placeholder:hover,
        .myhome-body .mh-pricing-table__row--name,
        .myhome-body .woocommerce #respond input#submit.alt,
        .myhome-body .woocommerce a.button.alt,
        .myhome-body .woocommerce button.button.alt,
        .myhome-body .woocommerce input.button.alt,
        .myhome-body .mh-field-plans__list__image__icon {
            background-color: #2c3e50
        }

            .myhome-body blockquote,
            .myhome-body html body .mh-menu-primary-color-background #mega_main_menu.mh-primary > .menu_holder > .mmm_fullwidth_container,
            .myhome-body input[type=text]:focus,
            .myhome-body input[type=text]:active,
            .myhome-body input[type=password]:focus,
            .myhome-body input[type=password]:active,
            .myhome-body input[type=email]:focus,
            .myhome-body input[type=email]:active,
            .myhome-body input[type=search]:focus,
            .myhome-body input[type=search]:active,
            .myhome-body input[type=tel]:focus,
            .myhome-body input[type=tel]:active,
            .myhome-body textarea:focus,
            .myhome-body textarea:active,
            .myhome-body .sticky,
            .myhome-body .mh-active-input input,
            .myhome-body .mh-active-input .bootstrap-select.btn-group > .btn,
            .myhome-body .mdl-button.mdl-button--primary-ghost,
            .myhome-body .mh-compare,
            .myhome-body .tagcloud a:hover,
            .myhome-body .tagcloud a:active,
            .myhome-body .tagcloud a:focus,
            .myhome-body .mh-map-panel,
            .myhome-body .mh-map-zoom,
            .myhome-body .mh-map-infobox:after,
            .myhome-body .mh-map-infobox .mh-map-infobox__img-wrapper,
            .myhome-body .mh-search-horizontal,
            .myhome-body .mh-search-map-top .mh-search-horizontal,
            .myhome-body .mh-social-icon:hover:after,
            .myhome-body .mh-top-header--primary,
            .myhome-body .owl-carousel .owl-dots .owl-dot.active span,
            .myhome-body .mh-border-color-primary,
            .myhome-body .mh-post .post-content blockquote,
            .myhome-body .mh-user-panel-info,
            .myhome-body.mh-active-input-primary .mh-search__panel > div:not(:first-child) .is-checked .mdl-radio__outer-circle,
            html body.myhome-body .mh-menu-primary-color-background .mh-header:not(.mh-header--transparent) #mega_main_menu.mh-primary > .menu_holder > .mmm_fullwidth_container,
            .myhome-body .myhome-idx-wrapper__photo_gallery-photogallery-1002 .IDX-photoGallery,
            .myhome-body .myhome-idx-wrapper__map_search_page-mapsearch-1000 #IDX-searchNavWrapper,
            .myhome-body .myhome-idx-wrapper__results-mobileFirstResults-1006 .IDX-propertyTypeHeader,
            .myhome-body .myhome-idx-wrapper__results-mobileFirstResults-1006 .IDX-resultsDetailsLink a,
            .myhome-body .myhome-idx-wrapper__search_page-searchBase-1005 #IDX-searchNavWrapper,
            .myhome-body #myhome-idx-wrapper .IDX-category-search #IDX-searchNavWrapper,
            .myhome-body .myhome-idx-wrapper__search_page-searchStandard-1002 #IDX-searchNavWrapper,
            .myhome-body #myhome-idx-wrapper.myhome-idx-wrapper__mortgage_calculator-mobileFirstMortgage-1002 .IDX-well,
            .myhome-body div[id*=IDX-carouselGallery-] + a,
            .myhome-body .mh-app-wrapper .primary,
            .myhome-body .tabs {
                border-color: #2c3e50
            }

                .myhome-body .mh-navbar__menu ul:first-child > li:hover > a,
                .myhome-body .mh-navbar__container .mh-navbar__menu ul:first-child > li:hover > a:first-child,
                .myhome-body .mh-pagination a:hover,
                .myhome-body .page-numbers.current,
                .myhome-body .mh-footer-top--dark a:hover,
                .myhome-body .mh-footer-top--dark a:active,
                .myhome-body .mh-footer-top--dark a:focus,
                .myhome-body.input-myhome .mh-active-input input,
                .myhome-body .tt-highlight,
                .myhome-body .mh-breadcrumbs__item a:hover,
                .myhome-body .mh-breadcrumbs__back:hover,
                .myhome-body .mh-breadcrumbs__back:hover i,
                .myhome-body .mh-active-input .bootstrap-select.btn-group > .btn,
                .myhome-body .mh-active-input .bootstrap-select.btn-group .dropdown-toggle .filter-option,
                .myhome-body .mdl-button.mdl-button--primary-ghost,
                .myhome-body .mdl-button.mdl-button--primary-ghost:hover,
                .myhome-body .mdl-button.mdl-button--primary-ghost:active,
                .myhome-body .mdl-button.mdl-button--primary-ghost:focus,
                .myhome-body .mdl-button.mdl-button--primary-font,
                html body #mega_main_menu.mh-primary #mh-submit-button a,
                html body.myhome-body #mega_main_menu.mh-primary #mh-submit-button a i,
                html body.myhome-body #mega_main_menu.mh-primary > .menu_holder > .menu_inner > ul > li:hover > a:after,
                html body.myhome-body #mega_main_menu.mh-primary > .menu_holder > .menu_inner > ul > li:hover > .item_link *,
                .myhome-body .comment-edit-link:hover,
                .myhome-body .comment-reply-link:hover,
                .myhome-body .mh-compare__feature-list li a:hover,
                .myhome-body .mh-compare__list__element a:hover,
                .myhome-body .mh-compare__list__element a:hover i,
                .myhome-body .mh-estate__list__element a:hover,
                .myhome-body .mh-estate__list__element a:hover i,
                .myhome-body .mh-estate-horizontal__primary,
                .myhome-body .mh-estate-vertical__primary,
                .myhome-body .mh-filters__button.mh-filters__button--active,
                .myhome-body .mh-filters__button.mh-filters__button--active:hover,
                .myhome-body button.mh-filters__right__button--active,
                .myhome-body .mh-loader-wrapper-map,
                .myhome-body .mh-loader,
                .myhome-body .mh-register-terms .mh-register-terms__text a,
                .myhome-body .mh-register-field__terms .mh-register-field__terms__text a,
                .myhome-body .mh-form-container__reset:hover,
                .myhome-body .mh-map-wrapper__noresults,
                .myhome-body .mh-map-pin i,
                .myhome-body .mh-navbar__wrapper #mh-submit-button a:hover,
                .myhome-body .mh-pagination--single-post,
                .myhome-body .mh-post-single__meta a:hover,
                .myhome-body .mh-search__heading-big,
                .myhome-body .mh-button-transparent:hover,
                .myhome-body .mh-user-panel__plans__row .mh-user-panel__plans__cell-4 button:hover,
                .myhome-body .mh-browse-estate__cell-3 a:hover,
                .myhome-body .mh-browse-estate__cell-payment a:hover,
                .myhome-body .mh-user-pagination li:hover,
                .myhome-body .mh-user-pagination li.mh-user-pagination__element-active,
                .myhome-body .mh-top-header-big__element:not(.mh-top-header-big__panel) a:hover,
                .myhome-body .mh-color-primary,
                .myhome-body .mh-top-header:not(.mh-top-header--primary) a:hover,
                .myhome-body .mh-top-header-big .mh-top-header-big__social-icons a:hover,
                .myhome-body .mh-top-header-big .mh-top-header-big__social-icons button:hover,
                .myhome-body .mh-estate__details > div a:hover,
                .myhome-body .recentcomments a:hover,
                .myhome-body .rsswidget:hover,
                .myhome-body .mh-post .post-content a:hover,
                .myhome-body .link-primary:hover,
                .myhome-body .mh-estate__agent__content a:hover,
                .myhome-body .mh-pagination--properties li.active a,
                .myhome-body .mh-page-type-v2__content a,
                .myhome-body .idx-omnibar-form.idx-omnibar-original-form .awesomplete > ul > li:hover,
                .myhome-body .idx-omnibar-form.idx-omnibar-original-form .awesomplete > ul > li[aria-selected="true"],
                .myhome-body #IDX-main #IDX-resultsRow .IDX-field-listingPrice.IDX-field-price.IDX-field .IDX-text,
                .myhome-body #IDX-main #IDX-resultsRow .IDX-resultsDetailsLink a,
                .myhome-body #IDX-main.IDX-category-details #IDX-detailsTopNav .IDX-topLink a:hover,
                .myhome-body #IDX-main.IDX-category-details .IDX-listAsRow li span,
                .myhome-body #IDX-main.IDX-category-details .IDX-listAsRow li a:hover,
                .myhome-body #IDX-main.IDX-category-search .IDX-listAsRow li span,
                .myhome-body #IDX-main.IDX-category-map .IDX-listAsRow li span,
                .myhome-body #IDX-main.IDX-category-search .IDX-listAsRow li a:hover,
                .myhome-body #IDX-main.IDX-category-map .IDX-listAsRow li a:hover,
                .myhome-body #IDX-main.IDX-category-search .IDX-listAsRow li span,
                .myhome-body #IDX-main.IDX-category-map .IDX-listAsRow li span,
                .myhome-body #IDX-main.IDX-category-search .IDX-listAsRow li a:hover,
                .myhome-body #IDX-main.IDX-category-map .IDX-listAsRow li a:hover,
                .myhome-body #IDX-main.IDX-category-details #IDX-detailsField-listingPrice #IDX-detailsPrice,
                .myhome-body .mh-rs-search #myhome-search-form-submit .mh-search__panel--keyword .mh-search__panel.mh-active-input:after,
                .myhome-body.mh-active-input-primary .mh-search__panel > div:not(:first-child) .is-checked .mdl-radio__label,
                .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-nextLastButtons #IDX-nextProp,
                .myhome-body #myhome-idx-wrapper .IDX-page-listing #IDX-nextLastButtons #IDX-nextProp,
                .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-hotLinks a:hover,
                .myhome-body #myhome-idx-wrapper .IDX-page-listing #IDX-hotLinks a:hover,
                .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-main.IDX-category-details #IDX-detailsField-listingPrice #IDX-detailsPrice,
                .myhome-body #myhome-idx-wrapper .IDX-page-listing #IDX-detailsField-listingPrice #IDX-detailsPrice,
                .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-main.IDX-category-details #IDX-detailsTopNav .IDX-topLink a:hover,
                .myhome-body #myhome-idx-wrapper .IDX-page-listing #IDX-detailsTopNav .IDX-topLink a:hover,
                .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-main.IDX-category-details .IDX-listAsRow li span,
                .myhome-body #myhome-idx-wrapper .IDX-page-listing .IDX-listAsRow li span,
                .myhome-body #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-main.IDX-category-details .IDX-listAsRow li a:hover,
                .myhome-body #myhome-idx-wrapper .IDX-page-listing .IDX-listAsRow li a:hover,
                .myhome-body .myhome-idx-wrapper__photo_gallery-photogallery-1002 .IDX-page-photogallery #IDX-previousPage a:hover,
                .myhome-body .idx-omnibar-form .awesomplete > ul > li:hover,
                .myhome-body .idx-omnibar-form .awesomplete > ul > li[aria-selected="true"],
                .myhome-body .myhome-idx-wrapper__results-mobileFirstResults-1006 .IDX-propertyTypeHeader,
                .myhome-body .myhome-idx-wrapper__results-mobileFirstResults-1006 .IDX-field-listingPrice.IDX-field-price.IDX-field .IDX-text,
                .myhome-body .myhome-idx-wrapper__results-mobileFirstResults-1006 .IDX-resultsDetailsLink a,
                .myhome-body .myhome-idx-wrapper__search_page-searchBase-1005 .IDX-emailUpdateSignupText,
                .myhome-body #myhome-idx-wrapper .IDX-category-search .IDX-emailUpdateSignupText,
                .myhome-body .myhome-idx-wrapper__my_account-myaccount-1000 .IDX-backLink:hover,
                .myhome-body .myhome-idx-wrapper__user_signup-usersignup-1002 #IDX-loginText a,
                .myhome-body div[id*=IDX-carouselGallery-] .IDX-carouselPrice,
                .myhome-body .IDX-showcaseTable .IDX-showcasePrice,
                .myhome-body .IDX-slideshowWrapper .IDX-slideshowPrice,
                .myhome-body .myhome-idx-wrapper__results-mobileFirstResults-1006 #IDX-agentbio .IDX-actionLinks a,
                .myhome-body .IDX-searchNavItem > span,
                html body.myhome-body .ui-dialog[aria-labelledby*=IDX-loadingScreen] #IDX-loadingScreen,
                .myhome-body .myhome-idx-wrapper__photo_gallery-mobileFirstPhotoGallery-1003 .IDX-showcaseThumbnails-button.IDX-active,
                .myhome-body div[id*=IDX-carouselGallery-] + a,
                .myhome-body .mh-popup-top-info i,
                .myhome-body .mh-pricing-table__row--sold,
                .myhome-body.mh-active-input-primary .mh-active-input input,
                .myhome-body .mh-estate__list .mh-estate__list__inner .mh-estate__list__element--attachment a:hover {
                    color: #2c3e50
                }

        body,
        button,
        input,
        optgroup,
        select,
        textarea,
        .mh-accordion .ui-accordion-header,
        .mh-estate-horizontal__subheading,
        .mh-estate-horizontal__primary,
        .mh-estate-vertical__subheading,
        .mh-estate-vertical__primary,
        .mh-map-infobox,
        .mh-user-panel-info__heading,
        .mh-font-body {
            font-family: Lato;
            font-weight: 400
        }

        .mh-main-font-italic {
            font-family: Lato;
            font-weight: 400;
            font-style: italic
        }

        .mh-estate-horizontal__primary,
        .mh-estate-vertical__primary {
            font-family: Lato;
            font-weight: 700
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .mh-estate__details__price,
        .mh-top-header,
        .mh-top-header-big__panel,
        .mh-caption__inner,
        .mh-slider-single__price,
        .mh-heading-font-bold,
        .mh-search__results,
        .mh-user-panel__user__content {
            font-family: Play;
            font-weight: 400
        }

        h1,
        .mh-caption__inner,
        .mh-slider-single__price,
        .mh-heading-font-bold,
        .mh-search__results,
        .mh-user-panel__user__content,
        #IDX-main .IDX-control-label,
        .mh-top-title__heading,
        #myhome-idx-wrapper .IDX-control-label,
        #myhome-idx-wrapper .IDX-addressField label,
        #myhome-idx-wrapper__details-detailsDynamic-1008 #IDX-detailsFeaturedAgentdisplayname,
        #myhome-idx-wrapper .IDX-page-listing #IDX-detailsFeaturedAgentdisplayname,
        .myhome-idx-wrapper__results-mobileFirstResults-1006 .IDX-bioName,
        #IDX-featuredAgentWrap.IDX-featuredAgentWrap .IDX-featuredAgentContact,
        .IDX-showcaseTable .IDX-showcasePrice,
        .IDX-slideshowWrapper .IDX-slideshowPrice {
            font-family: Play;
            font-weight: 700
        }

        /*]]>*/
    </style>
    <style type="text/css" data-type="vc_shortcodes-custom-css">
        .vc_custom_1531151894780 {
            background-color: #fff !important
        }

        .vc_custom_1531150089888 {
            background-color: #f4f4f4 !important
        }

        .vc_custom_1529578881204 {
            background-color: #fff !important
        }

        .vc_custom_1532194778097 {
            background-image: url(https://myhometheme.net/agent/wp-content/uploads/2018/07/multiple-homes-dark.jpg?id=3367) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important
        }

        .vc_custom_1504642150975 {
            padding-bottom: 0px !important
        }

        .vc_custom_1531151908091 {
            padding-top: 39px !important;
            padding-bottom: 24px !important
        }

        .vc_custom_1531151919946 {
            padding-bottom: 24px !important
        }

        .vc_custom_1532970051547 {
            background-image: url(https://myhometheme.net/agent/wp-content/uploads/2018/07/man-suit.jpg?id=3342) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important
        }

        .vc_custom_1496231457062 {
            padding-top: 0px !important
        }

        .vc_custom_1504771700068 {
            padding-top: 39px !important;
            padding-bottom: 24px !important
        }

        .vc_custom_1531143765894 {
            padding-top: 12px !important;
            padding-bottom: 24px !important
        }

        .vc_custom_1532194760767 {
            padding-top: 39px !important;
            padding-bottom: 24px !important
        }

        .vc_custom_1504769944715 {
            padding-top: 39px !important;
            padding-bottom: 24px !important
        }

        .vc_custom_1531143780146 {
            margin-bottom: 24px !important;
            padding-top: 12px !important
        }
    </style>
    <noscript>
        <style type="text/css">
            .wpb_animate_when_almost_visible {
                opacity: 1
            }
        </style>
    </noscript>
</head>

<body id="myhome-app"
      class="home page-template page-template-page_full-width page-template-page_full-width-php page page-id-1866 myhome-3-1-33 mmm mega_main_menu-2-1-3 woocommerce-no-js myhome-body  mh-active-input-primary wpb-js-composer js-comp-ver-5.5.2 vc_responsive">
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7G6X7H" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <div class="mh-fixed-menu mh-fixed-menu--transparent-light">
        <div class="mh-header mh-header--transparent">
            <div id="mega_main_menu" class="mh-primary primary_style-flat icons-left first-lvl-align-left first-lvl-separator-none direction-horizontal fullwidth-disable pushing_content-disable mobile_minimized-enable dropdowns_trigger-hover dropdowns_animation-anim_4 no-logo no-search no-woo_cart no-buddypress responsive-enable coercive_styles-disable indefinite_location_mode-disable language_direction-ltr version-2-1-3 mh-primary primary_style-flat icons-left first-lvl-align-left first-lvl-separator-none direction-horizontal fullwidth-disable pushing_content-disable mobile_minimized-enable dropdowns_trigger-hover dropdowns_animation-anim_4 no-logo no-search no-woo_cart no-buddypress responsive-enable coercive_styles-disable indefinite_location_mode-disable language_direction-ltr version-2-1-3 mega_main mega_main_menu">
                <div class="menu_holder">

                    @Html.Partial("_HeaderLayout")


                </div>
            </div>
        </div>
    <div class="mh-sticky-menu-placeholder"></div>
    <div class="mh-layout">

        @RenderBody()

    </div>
        <footer id="footer" class="mh-footer-top mh-background-cover mh-footer-top--dark">

            @Html.Partial("_FooterLayout")


        </footer>



        <account id="myhome-account"></account>
        <save-search id="myhome-save-search"></save-search>
        <div>
            <compare-area id="myhome-compare-area"></compare-area>
        </div>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript">
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        </script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript">
            /*<![CDATA[*/
            function revslider_showDoubleJqueryError(sliderID) {
                var errorMessage =
                    "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
                errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
                errorMessage +=
                    "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
                errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
                errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
                jQuery(sliderID).show().html(errorMessage);
            } /*]]>*/
        </script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript" id='contact-form-7-js-extra'>
            var wpcf7 = {
                "apiSettings": {
                    "root": "https:\/\/myhometheme.net\/agent\/wp-json\/contact-form-7\/v1",
                    "namespace": "contact-form-7\/v1"
                },
                "cached": "1"
            };
        </script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript"
                src="https://myhometheme.net/agent/wp-content/cache/minify/1117c.js"></script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript" id='woocommerce-js-extra'>
            var woocommerce_params = {
                "ajax_url": "\/agent\/wp-admin\/admin-ajax.php",
                "wc_ajax_url": "\/agent\/?wc-ajax=%%endpoint%%"
            };
        </script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript"
                src="https://myhometheme.net/agent/wp-content/cache/minify/fada9.js"></script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript" id='lazy-sizes-js-before'>
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
        </script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript"
                src="https://myhometheme.net/agent/wp-content/cache/minify/0a976.js"></script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript" id='myhome-min-js-extra'>
            var MyHome = {
                "site": "https:\/\/myhometheme.net\/agent",
                "compare": "1",
                "api": "https:\/\/myhometheme.net\/agent\/wp-json\/myhome\/v1\/estates",
                "panelUrl": "https:\/\/myhometheme.net\/test-user\/panel\/",
                "user_fields": [],
                "is_register_open": "",
                "requestUrl": "https:\/\/myhometheme.net\/agent\/wp-admin\/admin-ajax.php",
                "nonce": "fd016fa919",
                "mapStyle": "[{featureType:\"administrative\",elementType:\"labels.text.fill\",stylers:[{color:\"#444444\"}]},{featureType:\"landscape\",elementType:\"all\",stylers:[{color:\"#f2f2f2\"}]},{featureType:\"poi\",elementType:\"all\",stylers:[{visibility:\"off\"}]},{featureType:\"road\",elementType:\"all\",stylers:[{saturation:-100},{lightness:45}]},{featureType:\"road.highway\",elementType:\"all\",stylers:[{visibility:\"simplified\"}]},{featureType:\"road.arterial\",elementType:\"labels.icon\",stylers:[{visibility:\"off\"}]},{featureType:\"transit\",elementType:\"all\",stylers:[{visibility:\"off\"}]},{featureType:\"water\",elementType:\"all\",stylers:[{color:\"#d7e1f2\"},{visibility:\"on\"}]}]",
                "mapType": "roadmap",
                "contact_price_label": "Contact for price",
                "user_bar_label": "Login \/ Register",
                "property_link_new_tab": "",
                "show_date": "true",
                "show_favorite": "1",
                "show_save_search": "1",
                "captcha_enabled": "1",
                "captcha_site_key": "6LdSfDkUAAAAADrV7L2pqb_cUo_Mu1ENz1xXk6ch",
                "account_types": {
                    "agent": "Agent",
                    "agency": "Agency",
                    "buyer": "Buyer"
                },
                "account_type": "agent",
                "user_select_type": "",
                "clustering": "1",
                "street": "1",
                "show_rules": "",
                "rules_link": "#",
                "buyer_can_submit_property": "",
                "account_register_open": "",
                "account_active_tab": "login",
                "notLoggedPopup": "",
                "translations": {
                    "username": "Username",
                    "accept": "I agree to the",
                    "terms_of_service": "Terms of Service",
                    "alphabetically": "Alphabetical",
                    "compare": "Compare",
                    "added": "Added",
                    "details": "Details",
                    "more": "More",
                    "newest": "Newest",
                    "sort_by": "Sort by:",
                    "popular": "Popular",
                    "price": "Price",
                    "reset": "Reset",
                    "full_screen": "Full Screen",
                    "price_high_to_low": "Price (high to low)",
                    "price_low_to_high": "Price (low to high)",
                    "results": "results",
                    "found": "Found",
                    "any": "Any",
                    "search": "Search",
                    "from": "From",
                    "to": "To",
                    "advanced": "Advanced",
                    "hide_advanced": "Hide",
                    "clear": "clear",
                    "street_view": "Street View",
                    "prev": "Prev",
                    "next": "Next",
                    "fullscreen": "Full screen",
                    "fullscreen_close": "Close full screen",
                    "clear_search": "Clear search",
                    "no_results": "No results found",
                    "hide": "Hide",
                    "show": "Show",
                    "attributes": "Attributes",
                    "show_location": "Show location",
                    "near": "Show near",
                    "login": "Login",
                    "register": "Register",
                    "submit_property": "Submit property",
                    "my_properties": "My properties",
                    "edit_profile": "Edit profile",
                    "view_profile": "View my profile",
                    "log_out": "Log out",
                    "currency": "Currency",
                    "enter_login": "Enter your login ",
                    "enter_password": "Enter your password",
                    "retrieve_password": "reset password",
                    "save_this_search": "Save this search",
                    "agents": "Agents",
                    "hello": "Hello",
                    "reg_completed": "Registration completed. Thank you!",
                    "check_email": "Please check your email to activate your account",
                    "back": "back",
                    "email_required": "Email field is required",
                    "enter_email": "Please enter your email address to request a password reset.",
                    "reset_password": "Reset Password",
                    "ok": "OK",
                    "exclamation_mark": "!",
                    "no_user": "If your email address exists in our database, you will receive a password recovery link at your email address in a few minutes.",
                    "password": "Password",
                    "email": "Email",
                    "repeat_password": "Repeat password",
                    "password_mismatch": "Password mismatch",
                    "account_type": "Account type",
                    "connect_with": "Connect with",
                    "saved_success": "Saved successfully",
                    "saving": "Saving...",
                    "save_search": "Save search",
                    "name_required": "Name field is required",
                    "save": "Save",
                    "enter_s_name": "Enter search name",
                    "removed": "Removed",
                    "added_to_favorite": "Added to favorite",
                    "add_to_favorite": "Add to favorite",
                    "favorite": "Favorite",
                    "saved_searches": "Saved searches",
                    "add_to_compare": "Add to compare",
                    "added_to_compare": "Added to compare"
                },
                "theme_url": "https:\/\/myhometheme.net\/agent\/wp-content\/themes\/myhome"
            };
        </script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript"
                src="https://myhometheme.net/agent/wp-content/cache/minify/741fe.js"></script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript">
            (function() {
                var po = document.createElement('script');
                po.type = 'text/javascript';
                po.async = true;;
                po.src =
                    'https://myhometheme.net/agent/wp-content/plugins/easy-social-share-buttons3/assets/js/essb-core.min.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(po, s);
            })();
        </script>
        <script type="357ac28a54e0bf48f0aeb0df-text/javascript"></script>
        
        <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
                data-cf-settings="357ac28a54e0bf48f0aeb0df-|49" defer=""></script>
        <script defer src="https://static.cloudflareinsights.com/beacon.min.js"
                data-cf-beacon='{"rayId":"6050f9dd2a6040c0","version":"2020.12.2","si":10}'></script>
</body>

</html>